body {
    color: #000;
    background: #f6f6f6;
    font: 12px Arial;
    margin: auto;
    padding: 0;
    list-style: none;
    border: 0
}

body .gray {
    background: #f5f5f5
}

body a {
    text-decoration: none
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
ul,
li,
ol,
dt,
dd,
table,
th,
tr,
td,
p,
select,
input,
img {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0
}

.header {
    height: 120px;
    width: 100%;
    background: #006bb7
}

.header .header-wrap {
    width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
    background: url(../img/header-bg.webp) no-repeat center top;
    height: auto
}

.header .header-wrap .header-main {
    position: relative;
    height: 80px
}

.header .header-wrap .header-main .header-logo {
    height: 80px;
    float: left
}

.header .header-wrap .header-main .header-logo a {
    padding-left: 45px;
    padding-top: 20px;
    height: 50px;
    width: 86px;
    color: #fff;
    font-size: 38px;
    font-weight: 700;
    float: left
}

.header .header-wrap .header-main .header-logo a img {
    width: 100%;
    height: 100%
}

.header .header-wrap .header-main .header-button {
    padding-top: 10px;
    height: 70px;
    float: right;
    position: relative;
    margin-left: 20px
}

.header .header-wrap .header-main .header-button a img {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0
}

.header .header-wrap .header-menu {
    padding-left: 30px;
    height: 40px;
    width: auto;
    background: 0 0;
    position: relative
}

.header .header-wrap .header-menu .menu-1 {
    height: 40px;
    float: left
}

.header .header-wrap .header-menu .menu-1 ul {
    margin: 0;
    padding: 0
}

.header .header-wrap .header-menu .menu-1 ul li {
    margin-right: 23px;
    float: left;
    height: 40px
}

.header .header-wrap .header-menu .menu-1 ul li a {
    padding: 5px 15px 0 10px;
    color: #fff;
    font-size: 16px;
    background: 0 0;
    float: left;
    height: 40px
}

.header .header-wrap .header-menu .menu-1 ul li a:hover {
    color: #00aeff
}

.header .header-wrap .header-menu .menu-1 ul li:hover ul {
    display: block
}

.header .header-wrap .header-menu .menu-1 ul li:nth-child(5) a {
    background: url(../img/icon_16_arrow_down_gray.webp) no-repeat right 17px
}

.header .header-wrap .header-menu .menu-1 ul li:nth-child(5) .team {
    position: absolute;
    top: 40px;
    left: -5px;
    width: 1200px;
    height: 440px;
    border-bottom: 2px solid #002f50;
    background: #fff;
    z-index: 999;
    display: none
}

.header .header-wrap .header-menu .menu-1 ul li:nth-child(5) .team .east-team,
.header .header-wrap .header-menu .menu-1 ul li:nth-child(5) .team .west-team {
    width: 598px;
    height: 440px;
    float: left;
    display: block
}

.header .header-wrap .header-menu .menu-1 ul li:nth-child(5) .team .east-team .team-title,
.header .header-wrap .header-menu .menu-1 ul li:nth-child(5) .team .west-team .team-title {
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    background: #002f50;
    width: 100%
}

.header .header-wrap .header-menu .menu-1 ul li:nth-child(5) .team .east-team .team-area,
.header .header-wrap .header-menu .menu-1 ul li:nth-child(5) .team .west-team .team-area {
    height: 40px;
    width: 100%
}

.header .header-wrap .header-menu .menu-1 ul li:nth-child(5) .team .east-team .team-area span,
.header .header-wrap .header-menu .menu-1 ul li:nth-child(5) .team .west-team .team-area span {
    width: 199px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
    float: left
}

.header .header-wrap .header-menu .menu-1 ul li:nth-child(5) .team .east-team .team-list,
.header .header-wrap .header-menu .menu-1 ul li:nth-child(5) .team .west-team .team-list {
    height: 70px;
    width: 100%;
    display: flex
}

.header .header-wrap .header-menu .menu-1 ul li:nth-child(5) .team .east-team .team-list a,
.header .header-wrap .header-menu .menu-1 ul li:nth-child(5) .team .west-team .team-list a {
    padding: 0;
    width: 33.3333%;
    height: 100%;
    color: #2866b6;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center
}

.header .header-wrap .header-menu .menu-1 ul li:nth-child(5) .team .east-team li a:hover,
.header .header-wrap .header-menu .menu-1 ul li:nth-child(5) .team .west-team li a:hover {
    background: #e5e5e5
}

.header .header-wrap .header-menu .menu-1 ul li:nth-child(5) .team .east-team {
    border-left: 2px solid #002f50
}

.header .header-wrap .header-menu .menu-1 ul li:nth-child(5) .team .east-team .team-title {
    border-right: 1px solid #072840
}

.header .header-wrap .header-menu .menu-1 ul li:nth-child(5) .team .east-team li {
    border-right: 1px solid #e5e5e5
}

.header .header-wrap .header-menu .menu-1 ul li:nth-child(5) .team .west-team {
    border-right: 2px solid #002f50
}

.header .header-wrap .header-menu .menu-1 ul li:nth-child(5) .team .west-team .team-title {
    border-left: 1px solid #072840
}

.header .header-wrap .header-menu .menu-1 ul li:nth-child(5) .team .west-team li {
    border-left: 1px solid #e5e5e5
}

.header .header-wrap .header-menu .menu-1 ul li:nth-child(5) .team:before {
    content: '';
    position: absolute;
    top: -6px;
    left: 380px;
    width: 12px;
    height: 6px;
    background: url(../img/nav-menu-arrow.webp) no-repeat
}

.header .header-wrap .header-menu .menu-1 ul li:nth-child(5):hover .team {
    display: block
}

.header .header-wrap .header-menu .menu-1 ul li:nth-child(6) a {
    background: url(../img/icon_16_arrow_down_gray.webp) no-repeat right 17px
}

.header .header-wrap .header-menu .menu-1 ul li:nth-child(6) ul {
    position: absolute;
    top: 40px;
    left: 430px;
    width: 160px;
    background: #002f50;
    z-index: 999;
    display: none
}

.header .header-wrap .header-menu .menu-1 ul li:nth-child(6) ul:before {
    content: '';
    position: absolute;
    top: -6px;
    left: 20px;
    width: 12px;
    height: 6px;
    background: url(../img/nav-menu-arrow.webp) no-repeat
}

.header .header-wrap .header-menu .menu-1 ul li:nth-child(6) ul li {
    height: 40px
}

.header .header-wrap .header-menu .menu-1 ul li:nth-child(6) ul li a {
    background: 0 0;
    color: #fff;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    display: block;
    width: 140px
}

.header .header-wrap .header-menu .menu-1 ul li:nth-child(6) ul li a:hover {
    background: #2464b5
}

.header .header-wrap .header-menu .menu-1 ul li:nth-child(6):hover ul {
    display: block;
    transition: all 5s
}

.header .header-wrap .header-menu .menu-1 ul li:nth-child(7) a {
    background: url(../img/icon_16_arrow_down_gray.webp) no-repeat right 17px
}

.header .header-wrap .header-menu .menu-1 ul li:nth-child(7) ul {
    position: absolute;
    top: 40px;
    left: 510px;
    width: 160px;
    background: #002f50;
    z-index: 999;
    display: none
}

.header .header-wrap .header-menu .menu-1 ul li:nth-child(7) ul:before {
    content: '';
    position: absolute;
    top: -6px;
    left: 20px;
    width: 12px;
    height: 6px;
    background: url(../img/nav-menu-arrow.webp) no-repeat
}

.header .header-wrap .header-menu .menu-1 ul li:nth-child(7) ul li {
    height: 40px;
    margin-right: 23px;
    float: left
}

.header .header-wrap .header-menu .menu-1 ul li:nth-child(7) ul li a {
    background: 0 0;
    color: #fff;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    display: block;
    width: 140px
}

.header .header-wrap .header-menu .menu-1 ul li:nth-child(7) ul li a:hover {
    background: #2464b5
}

.header .header-wrap .header-menu .menu-1 ul li:nth-child(7):hover ul {
    display: block
}

.header .header-wrap .header-menu .menu-1 ul li:nth-child(8) a {
    background: url(../img/icon_16_arrow_down_gray.webp) no-repeat right 17px
}

.header .header-wrap .header-menu .menu-1 ul li:nth-child(8) ul {
    position: absolute;
    top: 40px;
    left: 590px;
    width: 160px;
    background: #002f50;
    z-index: 999;
    display: none
}

.header .header-wrap .header-menu .menu-1 ul li:nth-child(8) ul:before {
    content: '';
    position: absolute;
    top: -6px;
    left: 20px;
    width: 12px;
    height: 6px;
    background: url(../img/nav-menu-arrow.webp) no-repeat
}

.header .header-wrap .header-menu .menu-1 ul li:nth-child(8) ul li {
    height: 40px;
    margin-right: 23px;
    float: left
}

.header .header-wrap .header-menu .menu-1 ul li:nth-child(8) ul li a {
    background: 0 0;
    color: #fff;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    display: block;
    width: 140px
}

.header .header-wrap .header-menu .menu-1 ul li:nth-child(8) ul li a:hover {
    background: #2464b5
}

.header .header-wrap .header-menu .menu-1 ul li:nth-child(8):hover ul {
    display: block
}

.header .header-wrap .header-menu .menu-1 ul li:nth-child(9) a {
    background: url(../img/icon_16_arrow_down_gray.webp) no-repeat right 17px
}

.header .header-wrap .header-menu .menu-1 ul li:nth-child(9) ul {
    position: absolute;
    top: 40px;
    left: 670px;
    width: 160px;
    background: #002f50;
    z-index: 999;
    display: none
}

.header .header-wrap .header-menu .menu-1 ul li:nth-child(9) ul:before {
    content: '';
    position: absolute;
    top: -6px;
    left: 20px;
    width: 12px;
    height: 6px;
    background: url(../img/nav-menu-arrow.webp) no-repeat
}

.header .header-wrap .header-menu .menu-1 ul li:nth-child(9) ul li {
    height: 40px;
    margin-right: 23px;
    float: left
}

.header .header-wrap .header-menu .menu-1 ul li:nth-child(9) ul li a {
    background: 0 0;
    color: #fff;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    display: block;
    width: 140px
}

.header .header-wrap .header-menu .menu-1 ul li:nth-child(9) ul li a:hover {
    background: #2464b5
}

.header .header-wrap .header-menu .menu-1 ul li:nth-child(9):hover ul {
    display: block
}

.header .header-wrap .header-menu .menu-1 ul li:nth-child(10) a {
    background: url(../img/icon_16_arrow_down_gray.webp) no-repeat right 17px
}

.header .header-wrap .header-menu .menu-1 ul li:nth-child(10) ul {
    position: absolute;
    top: 40px;
    left: 750px;
    width: 160px;
    background: #002f50;
    z-index: 999;
    display: none
}

.header .header-wrap .header-menu .menu-1 ul li:nth-child(10) ul:before {
    content: '';
    position: absolute;
    top: -6px;
    left: 20px;
    width: 12px;
    height: 6px;
    background: url(../img/nav-menu-arrow.webp) no-repeat
}

.header .header-wrap .header-menu .menu-1 ul li:nth-child(10) ul li {
    height: 40px;
    margin-right: 23px;
    float: left
}

.header .header-wrap .header-menu .menu-1 ul li:nth-child(10) ul li a {
    background: 0 0;
    color: #fff;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    display: block;
    width: 140px
}

.header .header-wrap .header-menu .menu-1 ul li:nth-child(10) ul li a:hover {
    background: #2464b5
}

.header .header-wrap .header-menu .menu-1 ul li:nth-child(10):hover ul {
    display: block
}

.header .header-wrap .header-menu .menu-2 {
    padding-top: 3px;
    float: right;
    position: relative
}

.header .header-wrap .header-menu .menu-2:hover .user-menu {
    display: block
}

.header .header-wrap .header-menu .menu-2 .user-head {
    height: 30px;
    width: 30px
}

.header .header-wrap .header-menu .menu-2 .user-head img {
    width: 30px;
    height: 30px;
    cursor: pointer
}

.header .header-wrap .header-menu .menu-2 .user-menu {
    z-index: 1;
    position: absolute;
    top: 28px;
    right: -10px;
    padding: 0 10px;
    width: 140px;
    height: 80px;
    background: #002f50;
    display: none
}

.header .header-wrap .header-menu .menu-2 .user-menu .user-info {
    height: 44px;
    line-height: 44px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff
}

.header .header-wrap .header-menu .menu-2 .user-menu .user-login {
    height: 36px
}

.header .header-wrap .header-menu .menu-2 .user-menu .user-login span {
    height: 26px;
    line-height: 26px;
    color: #fff;
    text-align: center;
    border-radius: 15px;
    background: #0062A7;
    cursor: pointer;
    display: block
}

.header .header-wrap .header-menu .menu-2 .user-menu .user-login span:hover {
    background: #0079cd
}

.header .header-wrap .header-menu .menu-2 .user-menu:before {
    content: '';
    position: absolute;
    top: -6px;
    right: 19px;
    width: 12px;
    height: 6px;
    background: url(../img/nav-menu-arrow.webp) no-repeat
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #2464b5;
    z-index: 999;
    display: none
}

.fixed-header .fix {
    margin: 0 auto;
    padding-left: 0;
    width: 1200px;
    height: 50px;
    position: relative
}

.fixed-header .fix .fix-1 {
    margin-right: 30px;
    width: 110px;
    height: 50px;
    display: block;
    float: left
}

.fixed-header .fix .fix-1 a img {
    width: 110px
}

.fixed-header .fix .fix-2 {
    height: 50px;
    float: left
}

.fixed-header .fix .fix-2 ul {
    margin: 0;
    padding: 0
}

.fixed-header .fix .fix-2 ul li {
    margin-right: 23px;
    float: left;
    height: 50px
}

.fixed-header .fix .fix-2 ul li a {
    padding: 12px 15px 0 10px;
    color: #fff;
    font-size: 16px;
    background: 0 0;
    float: left;
    height: 38px
}

.fixed-header .fix .fix-2 ul li a:hover {
    color: #00aeff
}

.fixed-header .fix .fix-2 ul li:hover ul {
    display: block
}

.fixed-header .fix .fix-2 ul li:nth-child(5) a {
    background: url(../img/icon_16_arrow_down_gray.webp) no-repeat right 24px
}

.fixed-header .fix .fix-2 ul li:nth-child(5) .team {
    position: absolute;
    top: 50px;
    left: 0;
    width: 1200px;
    height: 440px;
    border-bottom: 2px solid #002f50;
    background: #fff;
    z-index: 999;
    display: none
}

.fixed-header .fix .fix-2 ul li:nth-child(5) .team .east-team,
.fixed-header .fix .fix-2 ul li:nth-child(5) .team .west-team {
    width: 598px;
    height: 440px;
    float: left;
    display: block
}

.fixed-header .fix .fix-2 ul li:nth-child(5) .team .east-team .team-title,
.fixed-header .fix .fix-2 ul li:nth-child(5) .team .west-team .team-title {
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    background: #002f50;
    width: 100%
}

.fixed-header .fix .fix-2 ul li:nth-child(5) .team .east-team .team-area,
.fixed-header .fix .fix-2 ul li:nth-child(5) .team .west-team .team-area {
    height: 40px;
    width: 100%
}

.fixed-header .fix .fix-2 ul li:nth-child(5) .team .east-team .team-area span,
.fixed-header .fix .fix-2 ul li:nth-child(5) .team .west-team .team-area span {
    width: 199px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
    float: left
}

.fixed-header .fix .fix-2 ul li:nth-child(5) .team .east-team .team-list,
.fixed-header .fix .fix-2 ul li:nth-child(5) .team .west-team .team-list {
    height: 70px;
    width: 100%;
    display: flex
}

.fixed-header .fix .fix-2 ul li:nth-child(5) .team .east-team .team-list a,
.fixed-header .fix .fix-2 ul li:nth-child(5) .team .west-team .team-list a {
    padding: 0;
    width: 33.3333%;
    height: 100%;
    color: #2866b6;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center
}

.fixed-header .fix .fix-2 ul li:nth-child(5) .team .east-team li a:hover,
.fixed-header .fix .fix-2 ul li:nth-child(5) .team .west-team li a:hover {
    background: #e5e5e5
}

.fixed-header .fix .fix-2 ul li:nth-child(5) .team .east-team {
    border-left: 2px solid #002f50
}

.fixed-header .fix .fix-2 ul li:nth-child(5) .team .east-team .team-title {
    border-right: 1px solid #072840
}

.fixed-header .fix .fix-2 ul li:nth-child(5) .team .east-team li {
    border-right: 1px solid #e5e5e5
}

.fixed-header .fix .fix-2 ul li:nth-child(5) .team .west-team {
    border-right: 2px solid #002f50
}

.fixed-header .fix .fix-2 ul li:nth-child(5) .team .west-team .team-title {
    border-left: 1px solid #072840
}

.fixed-header .fix .fix-2 ul li:nth-child(5) .team .west-team li {
    border-left: 1px solid #e5e5e5
}

.fixed-header .fix .fix-2 ul li:nth-child(5) .team:before {
    content: '';
    position: absolute;
    top: -6px;
    left: 380px;
    width: 12px;
    height: 6px;
    background: url(../img/nav-menu-arrow.webp) no-repeat;
    left: 480px
}

.fixed-header .fix .fix-2 ul li:nth-child(5):hover .team {
    display: block
}

.fixed-header .fix .fix-2 ul li:nth-child(6) a {
    background: url(../img/icon_16_arrow_down_gray.webp) no-repeat right 24px
}

.fixed-header .fix .fix-2 ul li:nth-child(6) ul {
    position: absolute;
    top: 50px;
    left: 540px;
    width: 160px;
    background: #002f50;
    z-index: 999;
    display: none
}

.fixed-header .fix .fix-2 ul li:nth-child(6) ul:before {
    content: '';
    position: absolute;
    top: -6px;
    left: 20px;
    width: 12px;
    height: 6px;
    background: url(../img/nav-menu-arrow.webp) no-repeat
}

.fixed-header .fix .fix-2 ul li:nth-child(6) ul li {
    height: 40px
}

.fixed-header .fix .fix-2 ul li:nth-child(6) ul li a {
    background: 0 0;
    color: #fff;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    display: block;
    width: 140px
}

.fixed-header .fix .fix-2 ul li:nth-child(6) ul li a:hover {
    background: #2464b5
}

.fixed-header .fix .fix-2 ul li:nth-child(6):hover ul {
    display: block;
    transition: all 5s
}

.fixed-header .fix .fix-2 ul li:nth-child(7) a {
    background: url(../img/icon_16_arrow_down_gray.webp) no-repeat right 24px
}

.fixed-header .fix .fix-2 ul li:nth-child(7) ul {
    position: absolute;
    top: 50px;
    left: 620px;
    width: 160px;
    background: #002f50;
    z-index: 999;
    display: none
}

.fixed-header .fix .fix-2 ul li:nth-child(7) ul:before {
    content: '';
    position: absolute;
    top: -6px;
    left: 20px;
    width: 12px;
    height: 6px;
    background: url(../img/nav-menu-arrow.webp) no-repeat
}

.fixed-header .fix .fix-2 ul li:nth-child(7) ul li {
    height: 40px;
    margin-right: 23px;
    float: left
}

.fixed-header .fix .fix-2 ul li:nth-child(7) ul li a {
    background: 0 0;
    color: #fff;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    display: block;
    width: 140px
}

.fixed-header .fix .fix-2 ul li:nth-child(7) ul li a:hover {
    background: #2464b5
}

.fixed-header .fix .fix-2 ul li:nth-child(7):hover ul {
    display: block
}

.fixed-header .fix .fix-2 ul li:nth-child(8) a {
    background: url(../img/icon_16_arrow_down_gray.webp) no-repeat right 24px
}

.fixed-header .fix .fix-2 ul li:nth-child(8) ul {
    position: absolute;
    top: 50px;
    left: 700px;
    width: 160px;
    background: #002f50;
    z-index: 999;
    display: none
}

.fixed-header .fix .fix-2 ul li:nth-child(8) ul:before {
    content: '';
    position: absolute;
    top: -6px;
    left: 20px;
    width: 12px;
    height: 6px;
    background: url(../img/nav-menu-arrow.webp) no-repeat
}

.fixed-header .fix .fix-2 ul li:nth-child(8) ul li {
    height: 40px;
    margin-right: 23px;
    float: left
}

.fixed-header .fix .fix-2 ul li:nth-child(8) ul li a {
    background: 0 0;
    color: #fff;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    display: block;
    width: 140px
}

.fixed-header .fix .fix-2 ul li:nth-child(8) ul li a:hover {
    background: #2464b5
}

.fixed-header .fix .fix-2 ul li:nth-child(8):hover ul {
    display: block
}

.fixed-header .fix .fix-2 ul li:nth-child(9) a {
    background: url(../img/icon_16_arrow_down_gray.webp) no-repeat right 24px
}

.fixed-header .fix .fix-2 ul li:nth-child(9) ul {
    position: absolute;
    top: 50px;
    left: 780px;
    width: 160px;
    background: #002f50;
    z-index: 999;
    display: none
}

.fixed-header .fix .fix-2 ul li:nth-child(9) ul:before {
    content: '';
    position: absolute;
    top: -6px;
    left: 20px;
    width: 12px;
    height: 6px;
    background: url(../img/nav-menu-arrow.webp) no-repeat
}

.fixed-header .fix .fix-2 ul li:nth-child(9) ul li {
    height: 40px;
    margin-right: 23px;
    float: left
}

.fixed-header .fix .fix-2 ul li:nth-child(9) ul li a {
    background: 0 0;
    color: #fff;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    display: block;
    width: 140px
}

.fixed-header .fix .fix-2 ul li:nth-child(9) ul li a:hover {
    background: #2464b5
}

.fixed-header .fix .fix-2 ul li:nth-child(9):hover ul {
    display: block
}

.fixed-header .fix .fix-2 ul li:nth-child(10) a {
    background: url(../img/icon_16_arrow_down_gray.webp) no-repeat right 24px
}

.fixed-header .fix .fix-2 ul li:nth-child(10) ul {
    position: absolute;
    top: 50px;
    left: 860p;
    width: 160px;
    background: #002f50;
    z-index: 999;
    display: none
}

.fixed-header .fix .fix-2 ul li:nth-child(10) ul:before {
    content: '';
    position: absolute;
    top: -6px;
    left: 20px;
    width: 12px;
    height: 6px;
    background: url(../img/nav-menu-arrow.webp) no-repeat
}

.fixed-header .fix .fix-2 ul li:nth-child(10) ul li {
    height: 40px;
    margin-right: 23px;
    float: left
}

.fixed-header .fix .fix-2 ul li:nth-child(10) ul li a {
    background: 0 0;
    color: #fff;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    display: block;
    width: 140px
}

.fixed-header .fix .fix-2 ul li:nth-child(10) ul li a:hover {
    background: #2464b5
}

.fixed-header .fix .fix-2 ul li:nth-child(10):hover ul {
    display: block
}

.fixed-header .fix .fix-3 {
    padding-top: 10px;
    height: 40px;
    float: right;
    position: relative
}

.fixed-header .fix .fix-3:hover .user-menu {
    display: block
}

.fixed-header .fix .fix-3 .user-head {
    height: 30px;
    width: 30px
}

.fixed-header .fix .fix-3 .user-head img {
    width: 30px;
    height: 30px;
    cursor: pointer
}

.fixed-header .fix .fix-3 .user-menu {
    z-index: 1;
    position: absolute;
    top: 38px;
    right: -10px;
    padding: 0 10px;
    width: 140px;
    height: 80px;
    background: #002f50;
    display: none
}

.fixed-header .fix .fix-3 .user-menu .user-info {
    height: 44px;
    line-height: 44px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff
}

.fixed-header .fix .fix-3 .user-menu .user-login {
    height: 36px
}

.fixed-header .fix .fix-3 .user-menu .user-login span {
    height: 26px;
    line-height: 26px;
    color: #fff;
    text-align: center;
    border-radius: 15px;
    background: #0062A7;
    cursor: pointer;
    display: block
}

.fixed-header .fix .fix-3 .user-menu .user-login span:hover {
    background: #0079cd
}

.fixed-header .fix .fix-3 .user-menu:before {
    content: '';
    position: absolute;
    top: -6px;
    right: 19px;
    width: 12px;
    height: 6px;
    background: url(../img/nav-menu-arrow.webp) no-repeat
}

.m-content {
    background-color: #fff;
    margin-left: 25px;
    margin-right: 25px;
}

.m-content>.page-header {
    height: auto;
    line-height: auto;
}

.m-content .page-header .content-left {
    /*float: left;*/
}

.m-content .page-header .content-left .breadcrumb {
    display: inline;
    color: #1e518c;
}

.m-content>.row {
    margin-bottom: 20px;
}

.m-content>.row>.col-sm-12>.sib-table-container {
    overflow: hidden;
    position: relative;
}

.m-content>.row>.col-sm-12>.sib-table-container>.table-title {
    width: 100%;
    position: relative;
    background-color: #0f6db4;
    color: #fff;
}

.m-content>.row>.col-sm-12>.sib-table-container>.table-title .title {
    height: 50px;
    line-height: 50px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.45em;
    text-transform: uppercase;
}

.m-content>.row>.col-sm-12>.sib-table-container>.table-title .title span {
    padding-left: 50px;
}

.m-content>.row>.col-sm-12>.sib-table-container>.table-title .title span span {
    padding: 0;
}

.m-content>.row>.col-sm-12>.sib-table-container>.table-title .table-toggle {
    height: 34px;
    top: 6px;
    right: 135px;
    background-color: #032f4f;
    border: 2px solid #032f4f;
    height: 35px;
    overflow: hidden;
    position: absolute;
    width: 80px;
}

.m-content>.row>.col-sm-12>.sib-table-container>.table-title .table-toggle div {
    width: 60px;
    width: auto;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    font-size: .85em;
    text-transform: uppercase;
    cursor: pointer;
    margin-right: 2px;
    background-color: #0f6db4;
}

.m-content>.row>.col-sm-12>.sib-table-container>.table-title>.sib3-table-categories {
    height: auto;
    max-height: 70px;
    min-height: 35px;
    line-height: 35px;
    background-color: #FFF;
    color: #999;
    font-size: .875em;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-style: normal;
}

.m-content>.row>.col-sm-12>.sib-table-container>.table-title>.sib3-table-categories>.red {
    color: #e11647;
}

.m-content>.desktop>.m-bd1>.nba-stat-table__caption {
    background: #0f6db4;
    padding: 0.5em;
    color: #fff;
    font-size: 16px;
}

.m-content>.desktop>.m-bd1>.nba-stat-table {
    display: block;
    font-size: 11px;
    margin-bottom: 1em;
    font-weight: 400;
    color: #333;
    position: relative;
}

.m-content>.desktop>.m-bd1>.nba-stat-table .nba-stat-table__overflow {
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
}

.m-content>.desktop>.m-bd1>.nba-stat-table .nba-stat-table__overflow>table {
    border-bottom: 1px solid #ddd;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 13px;
    margin-bottom: 0;
    max-width: none;
    width: 100%;
    background-color: transparent;
}

.m-content>.desktop>.m-bd1>.nba-stat-table .nba-stat-table__overflow>table thead {
    background-color: #032f4f;
    color: #FFF;
    height: 26px;
}

.m-content>.desktop>.m-bd1>.nba-stat-table .nba-stat-table__overflow>table thead tr th.sorted.asc {
    font-weight: 700;
}

.m-content>.desktop>.m-bd1>.nba-stat-table .nba-stat-table__overflow>table>tbody>tr {
    background-color: #f4f4f4;
}

.m-content>.desktop>.m-bd1>.nba-stat-table .nba-stat-table__overflow>table>tbody>tr>td {
    font-weight: 700;
}

.m-content>.desktop>.m-bd1>.nba-stat-table .nba-stat-table__overflow>table>tbody>tr>.team-logo {
    height: 33px;
    padding: 1.5px 6px;
    width: 42px;
}

.m-content>.desktop>.m-bd1>.nba-stat-table .nba-stat-table__overflow>table>tbody>tr>.team-logo img {
    height: 30px;
    max-height: 30px;
    max-width: 30px;
    width: 30px;
}

.m-content>.desktop>.m-bd1>.nba-stat-table .nba-stat-table__overflow>table>tbody>tr>td a {
    color: #0064bb;
}

.sib-standings-glossary .playoff-legend {
    font-size: .75em;
    color: #7a7a7a;
}

.m-content>.row1 {
    margin-left: 55px;
    margin-bottom: 20px;
}

#copyright-wrap {
    width: 100%;
    min-width: 1200px;
    height: 250px;
    background: url(../img/footer-bg.webp) no-repeat center 0 #012f50;
    float: left;
    margin-top: 20px;
}

#copyright-wrap #copyright-tab {
    margin: 0 auto;
    width: 1200px;
    height: 250px
}

#copyright-wrap #copyright-tab div {
    height: 250px;
    float: left
}

#copyright-wrap #copyright-tab .tab-list {
    width: 210px
}

#copyright-wrap #copyright-tab span {
    height: 65px;
    line-height: 65px;
    color: #fff;
    font-size: 18px;
    display: block
}

#copyright-wrap #copyright-tab a {
    color: #fff;
    margin-bottom: 7px;
    font-size: 14px;
    display: block
}

#copyright-wrap #copyright-tab a:hover {
    text-decoration: underline
}

#copyright-wrap #copyright-tab .tab-nba-app {
    width: 180px
}

#copyright-wrap #copyright-tab .tab-nba-app span,
#copyright-wrap #copyright-tab .tab-nba-app img {
    padding-left: 15px
}

#copyright-wrap #copyright-tab .tab-nba-app img {
    width: 110px;
    height: 110px
}